<!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a routerLink="/shop" class="navbar-brand"><h1 class="text-primary display-6">Fruitables</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav mx-auto">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Product</a>
          </li>
          
        </ul>
        
        
      </div>
    </div>
  </nav>-->

   


<router-outlet></router-outlet>